<app-toolbar></app-toolbar>
<app-module-heading moduleHeading="Supervisor Approval"></app-module-heading>
<app-error [errorMsg] = "error" [successMsg]="successMsg" [infoMsg] = "infoMsg"></app-error>
<div class="container">
	<div class="row">
		<fieldset [disabled]="disableRecord">
	 	<div class="col-xs-12 col-sm-12">
	  		<table class="table table-bordered table-hover">
	          <thead>
	            <tr>
	              <th>Approval Limits</th>
	              <th>Level 1 Supervisor</th>
	              <th>Level 2 Supervisor</th>
	              <th>Level 3 Supervisor</th>
	            </tr>
	          </thead>
	          <tbody>
	          	<tr *ngFor="let items of svApprovalValues; let i = index">
				  <td width="250">
				  		<div class="col-xs-5">						 
						  <input type="number" min="0" class="input-sm form-control" [(ngModel)]="svApprovalValues[i].triggerlevelStart">
						</div>
						<div class="col-xs-1">-</div>	
						<div class="col-xs-5">						 
						  <input type="number" min="0" class="input-sm form-control" [(ngModel)]="svApprovalValues[i].triggerlevelEnd">
						</div>
				  </td>
				  <td>
				  	<select class="form-control" [(ngModel)]="svApprovalValues[i].triggerlevel1">
				  		<option value="Y">Y</option>
				  		<option value="" selected></option>
				  	</select>
				  </td>
				  <td>
				  	<select class="form-control" [(ngModel)]="svApprovalValues[i].triggerlevel2">
				  		<option value="Y">Y</option>
				  		<option value="" selected></option>
				  	</select>
				  </td>
				  <td>
				  	<select class="form-control" [(ngModel)]="svApprovalValues[i].triggerlevel3">
				  		<option value="Y">Y</option>
				  		<option value="" selected></option>
				  	</select>
				  </td>				  
			    </tr>
	          </tbody>
	        </table>
	  	</div>
	  	</fieldset>
	</div>
		<div class="row">
   
   		<div class="col-xs-7 col-sm-7 form-group" [ngClass]="{'showContent': hideApproveReject }">
  			<button type="submit" class="btn btnSave btn-danger pull-right" (click)="updateRequest('REJECTED')">Reject</button>
  			<button type="submit" class="btn btnSave btn-primary pull-right" (click)="updateRequest('APPROVED')">Approve</button>	
  			<button type="submit" class="btn btnSave btn-primary pull-right" (click)="unlockData()">Exit</button>		
  		</div>
  		
		<div class="col-xs-12 col-sm-12">
			<div class="col-xs-12 col-sm-12">      
				<!-- <button type="submit" class="btn btnSearch btn-warning pull-right buttonWidth" (click)="edit()">Edit</button>   -->      	
	    	</div>
	    </div>
 	</div>
</div>