
.btn-space {
    margin-right: 5px;
}

input { 
	margin-bottom: 5px; 
}

.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.custom-button-width {
	width:150px;
}

.panel-body {
	background:#f5f5f5;
}

.panel-heading {
	background:#dddcdc;
}