<fieldset [disabled]="disableToolBar">
<div class="btn-group inline pull-left row"> 
      <div class="btn btn-small" (click)="actionTrigger('add')">Add</div> 
      <div class="btn btn-small" (click)="actionTrigger('save')">Save</div>
      <div class="btn btn-small" (click)="actionTrigger('delete')">Delete</div> 
      <div class="btn btn-small" (click)="actionTrigger('refresh')">Refresh</div> 
      <div class="btn btn-small" (click)="actionTrigger('print')">Print</div> 
      <div class="btn btn-small" (click)="actionTrigger('journal')">Journal</div> 
      <div class="btn btn-small" (click)="actionTrigger('exit')">Exit</div> 
</div>
</fieldset>
