.no-padding {
	padding: 0px;
	max-height: 400px;
	overflow: auto
}
.glyphicon {
	font-size: 30px;
	cursor: pointer;
	margin-bottom: 20px;
}
.glyph-container {
	vertical-align: middle;
	margin-top:120px;
}

.well {
	margin-bottom: 0px;
	background-color: #C1CCD1;
}

.spandisabled {
   pointer-events: none;
   cursor: not-allowed; 
}